
@{
    ViewBag.Title = "TemporaryView";

}
<html>
<head id="Head1" runat="server">
    <title>Email Test Page</title>
</head>
<body>
    <button type="button" value="wyślij maila" onclick="location.href='@Url.Action("sendMail", "Temporary")'">wyślij maila</button>
    <br />
    <br />
    <button type="button" value="polacz z baza" onclick="location.href='@Url.Action("connectToDB", "Temporary")'">połącz z bazą</button>
    <br />
    <br />
</body>
</html>