@{
    Layout = "~/Views/Shared/_Page_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/main.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="main">
    <div id="header_nav">
        <ul>
            <li><a href="./ManualTimetable">Plan Zajęć</a></li>
            <li><a class="active" href="#">Panel Administracyjny</a></li>
            <li><a href="./Accmanagment">Zarządzanie kontem</a></li>
            <li><a href="./Contact">Kontakt</a></li>
            <li class="logout"><a href="./LogOut">Wyloguj</a></li>
        </ul>
    </div>

    <div class="content_wrapper">
        <button type="button" class="dropdownpanel">DODAWANIE ZAJĘĆ</button>
        <div class="zawartosc">
            <div class="addSubject">
                <form>
                    <ul class="form-style-1">
                        <li>
                            <label>
                                Przedmiot:
                                <input type="text" name="subjectName" />
                            </label>
                        </li>
                        <li>
                            <label>
                                Wykładowca:
                                <select name="field4" class="field-select">
                                    <option value="teacher1">Pan Jan</option>
                                    <option value="teacher2">Pan Kazimierz</option>
                                </select>
                            </label>
                        </li>
                        <li>
                            <label>
                                Godziny zajęć <input type="text" name="subjectTime" />
                            </label>
                        </li>
                        <li>
                            <input type="submit" value="Submit" />
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <button type="button" class="dropdownpanel">ZARZĄDZANIE UŻYTKOWNIKAMI</button>
        <div class="zawartosc">
            <p>
                TUTAJ TEŻ JEST JAKAS LOSOWA ZAWARTOSC USTALIMY PÓŹNIEJ MKEJ?
                TUTAJ TEŻ JEST JAKAS LOSOWA ZAWARTOSC USTALIMY PÓŹNIEJ MKEJ?
                TUTAJ TEŻ JEST JAKAS LOSOWA ZAWARTOSC USTALIMY PÓŹNIEJ MKEJ?
                TUTAJ TEŻ JEST JAKAS LOSOWA ZAWARTOSC USTALIMY PÓŹNIEJ MKEJ?
                TUTAJ TEŻ JEST JAKAS LOSOWA ZAWARTOSC USTALIMY PÓŹNIEJ MKEJ?
                TUTAJ TEŻ JEST JAKAS LOSOWA ZAWARTOSC USTALIMY PÓŹNIEJ MKEJ?
            </p>
        </div>
        <button type="button" class="dropdownpanel">EDYCJA ZAJĘĆ</button>
        <div class="zawartosc">
            <p>TUTAJ TEŻ JEST JAKAS LOSOWA ZAWARTOSC USTALIMY PÓŹNIEJ MKEJ?</p>
        </div>
        <button type="button" class="dropdownpanel">DODAJ POWIADOMIENIE</button>
        <div class="zawartosc">
            <p>TUTAJ TEŻ JEST JAKAS LOSOWA ZAWARTOSC USTALIMY PÓŹNIEJ MKEJ?</p>
        </div>
    </div>

    <div id="footer">
        <a class="footer_link" href="https://pila.amu.edu.pl/">Kontakt</a>
        <br />
        &copy; Nadnotecki Instytut UAM w Pile
        <br />
        <a class="footer_link" href="https://pila.amu.edu.pl/">Witryna Nadnoteckiego Instytutu UAM w Pile</a>
    </div>
    </div>
    <script>
        var coll = document.getElementsByClassName("dropdownpanel");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("aktywowanie");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
</body>
</html>
