@{
    Layout = "~/Views/Shared/_Page_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="header_nav">
        <ul>
            <li><a href="#">Plan Zajęć</a></li>
            <li><a class="active" href="#">Panel Administracyjny</a></li>
            <li><a href="#">Zarządzanie kontem</a></li>
            <li><a href="https://pila.amu.edu.pl/">Kontakt</a></li>
            <li class="logout"><a href="https://pila.amu.edu.pl/">Wyloguj</a></li>
        </ul>
    </div>
</body>
</html>
