@{
    ViewBag.Title = "Home Page";
}
<!--Główna strona projektu
    Tutaj mozecie dodawać wygląd pierwszej strony
    PS jeżeli chcecie aby jakiś wygląd był dostępny na wszystkich stronach jednocześnie to róbcie to w _Layout.cshtml
    -->
<div>
    <p>test test</p>
</div>
