@{
    ViewBag.Title = "Home Page";
}
<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <link rel="stylesheet" href="~/Style/style.css">
    <link rel="stylesheet" href="~/Style/StyleSheet.css">

    <title>Schedule Template | CodyHouse</title>
</head>
<body>
    <header class="cd-main-header text-center flex flex-column flex-center">
      

        <h1 class="text-xl">Plan zajęć</h1>
    </header>

    <div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule">
        <div class="cd-schedule__timeline">
            <ul>
                <li class="elasticHours"><span>08:00</span></li>
                <li class="elasticHours"><span>09:45</span></li>
                <li class="elasticHours"><span>09:30</span></li>
                <li class="elasticHours"><span>11:30</span></li>
                <li class="elasticHours"><span>11:15</span></li>
                <li class="elasticHours"><span>13:30</span></li>
                <li class="elasticHours"><span>13:00</span></li>
                <li class="elasticHours"><span>15:15</span></li>
                <li class="elasticHours"><span>15:00</span></li>
                <li class="elasticHours"><span>17:00</span></li>
                <li class="elasticHours"><span>16:45</span></li>
                <li class="elasticHours"><span>18:45</span></li>
                <li class="elasticHours"><span>18:30</span></li>
                <li class="elasticHours"><span>20:15</span></li>
            </ul>
        </div> <!-- .cd-schedule__timeline -->

        <div class="cd-schedule__events">
            <ul>
                <li class="cd-schedule__group">
                    <div class="cd-schedule__top-info"><span>Monday</span></div>

                    <ul>
                        <li class="cd-schedule__event">
                            <a data-start="08:00" data-end="09:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                                <em class="cd-schedule__name">Inżynieria oprogramowania</em>
                            </a>
                        </li>

                        <li class="cd-schedule__event">
                            <a data-start="09:45" data-end="11:15" data-content="event-abs-circuit" data-event="event-1" href="#0">
                                <em class="cd-schedule__name">Inżynieria oprogramowania</em>
                            </a>
                        </li>

                        <li class="cd-schedule__event">
                            <a data-start="11:30" data-end="13:00" data-content="event-abs-circuit" data-event="event-1" href="#0">
                                <em class="cd-schedule__name">Inżynieria oprogramowania</em>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="cd-schedule__group">
                    <div class="cd-schedule__top-info"><span>Tuesday</span></div>

                    <ul>
                        <li class="cd-schedule__event">
                            <a data-start="15:15" data-end="16:45" data-content="event-rowing-workout" data-event="event-2" href="#0">
                                <em class="cd-schedule__name">Automaty i języki formalne</em>
                            </a>
                        </li>

                        <li class="cd-schedule__event">
                            <a data-start="17:00" data-end="18:30" data-content="event-rowing-workout" data-event="event-2" href="#0">
                                <em class="cd-schedule__name">Automaty i języki formalne</em>
                            </a>
                        </li>

                        <li class="cd-schedule__event">
                            <a data-start="18:45" data-end="20:15" data-content="event-abs-circuit" data-event="event-2" href="#0">
                                <em class="cd-schedule__name">Automaty i języki formalne</em>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="cd-schedule__group">
                    <div class="cd-schedule__top-info"><span>Wednesday</span></div>

                    <ul>
                        <li class="cd-schedule__event">
                            <a data-start="11:30" data-end="13:00" data-content="event-restorative-yoga" data-event="event-4" href="#0">
                                <em class="cd-schedule__name">Język Angielski</em>
                            </a>
                        </li>

                        <li class="cd-schedule__event">
                            <a data-start="13:30" data-end="15:00" data-content="event-yoga-1" data-event="event-4" href="#0">
                                <em class="cd-schedule__name">Język Angielski</em>
                            </a>
                        </li>

                        <li class="cd-schedule__event">
                            <a data-start="15:15" data-end="16:45" data-content="event-rowing-workout" data-event="event-2" href="#0">
                                <em class="cd-schedule__name">Automaty i języki formalne</em>
                            </a>
                        </li>

                        <li class="cd-schedule__event">
                            <a data-start="17:00" data-end="18:30" data-content="event-yoga-1" data-event="event-2" href="#0">
                                <em class="cd-schedule__name">Automaty i języki formalne</em>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="cd-schedule__group">
                    <div class="cd-schedule__top-info"><span>Thursday</span></div>

                    <ul>
                        <li class="cd-schedule__event">
                            <a data-start="09:45" data-end="11:15" data-content="event-restorative-yoga" data-event="event-3" href="#0">
                                <em class="cd-schedule__name">Matematyka aktualialna</em>
                            </a>
                        </li>

                        <li class="cd-schedule__event">
                            <a data-start="11:30" data-end="13:00" data-content="event-yoga-1" data-event="event-3" href="#0">
                                <em class="cd-schedule__name">Matematyka aktualialna</em>
                            </a>
                        </li>

                        <li class="cd-schedule__event">
                            <a data-start="13:30" data-end="15:00" data-content="event-rowing-workout" data-event="event-3" href="#0">
                                <em class="cd-schedule__name">Matematyka aktualialna</em>
                            </a>
                        </li>

                        <li class="cd-schedule__event">
                            <a data-start="15:15" data-end="16:45" data-content="event-yoga-1" data-event="event-4" href="#0">
                                <em class="cd-schedule__name">Język Angielski</em>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="cd-schedule__group">
                    <div class="cd-schedule__top-info"><span>Friday</span></div>

                    <ul>
                        <li class="cd-schedule__event">
                            <a data-start="08:00" data-end="09:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                                <em class="cd-schedule__name">Inżynieria oprogramowania</em>
                            </a>
                        </li>

                        <li class="cd-schedule__event">
                            <a data-start="09:45" data-end="11:15" data-content="event-abs-circuit" data-event="event-1" href="#0">
                                <em class="cd-schedule__name">Inżynieria oprogramowania</em>
                            </a>
                        </li>

                        <li class="cd-schedule__event">
                            <a data-start="11:30" data-end="13:00" data-content="event-abs-circuit" data-event="event-1" href="#0">
                                <em class="cd-schedule__name">Inżynieria oprogramowania</em>
                            </a>
                        </li>

                        <li class="cd-schedule__event">
                            <a data-start="13:30" data-end="15:00" data-content="event-yoga-1" data-event="event-3" href="#0">
                                <em class="cd-schedule__name">Matematyka aktualialna</em>
                            </a>
                        </li>

                        <li class="cd-schedule__event">
                            <a data-start="15:15" data-end="16:45" data-content="event-rowing-workout" data-event="event-3" href="#0">
                                <em class="cd-schedule__name">Matematyka aktualialna</em>
                            </a>
                        </li>

                        <li class="cd-schedule__event">
                            <a data-start="17:00" data-end="18:30" data-content="event-yoga-1" data-event="event-3" href="#0">
                                <em class="cd-schedule__name">Matematyka aktualialna</em>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="cd-schedule-modal">
            <header class="cd-schedule-modal__header">
                <div class="cd-schedule-modal__content">
                    <span class="cd-schedule-modal__date"></span>
                    <h3 class="cd-schedule-modal__name"></h3>
                </div>

                <div class="cd-schedule-modal__header-bg"></div>
            </header>

            <div class="cd-schedule-modal__body">
                <div class="cd-schedule-modal__event-info"></div>
                <div class="cd-schedule-modal__body-bg"></div>
            </div>

            <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
        </div>

        <div class="cd-schedule__cover-layer"></div>
    </div> <!-- .cd-schedule -->

    <script src="~/Scripts/util.js"></script> <!-- util functions included in the CodyHouse framework -->
    <script src="~/Scripts/main.js"></script>
</body>
</html>