@{
    Layout = "~/Views/Shared/_Page_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
    <title></title>
</head>
<body>
    <div id="logOut_message">
        Zostałeś wylogowany.
    </div>
    <div id="logIn_again">
        <a href="./index" class="login-form-btn">
            Zaloguj ponownie
        </a>
    </div>

</body>
</html>
