
@{
    ViewBag.Title = "ManualTimetable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="pl">
<head>
    <title>SoftEngineering</title> @* temporary title tag *@
    <link href="~/Style/main.css" rel="stylesheet" />
    <script src="~/Scripts/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> <!--Jquery-->
    <script>
        $(document).ready(function () {
            var subject = document.getElementById("SubElement1").value;
            var titleAtr = document.getElementById("SubElement1").title;
            $("#option").change(function () {
                $("#option option:selected").each(function () {
                    subject = $(this).text();
                    titleAtr = $("#option option:selected").attr("title");
                });
            })
            //Dane do tabeli (do czasu pobierania ich z bazy)
            var daysOfWeek = ['', 'Poniedziałek', 'Wtorek', 'Środa', 'Czwartek', 'Piątek'];
            var hours = ['8:15 - 9:45', '10:00 - 11:30', '11:45 - 13:15',
                '13:30 - 15:00', '15:15 - 16:45', '17:00 - 18:30'];
            var defaultData = [[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]];

            //----

            $(function () {
                $("#save").click(function () {
                    if (confirm("Czy chcesz zapisać zmiany?")) {
                        defaultData = []

                        $("table .test").each(function (row, tr) {
                            tmp = []
                            tmp.push($(tr).find('td:eq(1)').text(),
                                $(tr).find('td:eq(2)').text(),
                                $(tr).find('td:eq(3)').text(),
                                $(tr).find('td:eq(4)').text(),
                                $(tr).find('td:eq(5)').text())
                            defaultData.push(tmp)

                        });
                        alert("Zapisano plan");
                    }
                    else {

                    }
                });
            });
            //Tworzenie planu
            arrayToTable = function (defaultData, options = {}) {
                var table = $('<table />'),
                    rows = [],
                    row,
                    i, j,
                    defaults = {
                        th: true, // should we use th elemenst for the first row
                        thead: false, //should we incldue a thead element with the first row
                        tfoot: false, // should we include a tfoot element with the last row
                        attrs: {} // attributes for the table element, can be used to
                    }

                options = $.extend(defaults, options);

                table.attr(options.attrs)

                // loop through all the rows, we will deal with tfoot and thead later
                for (i = 0; i <= defaultData.length; i++) {
                    if (i == 0)
                        row = $('<tr />');
                    else { row = $('<tr class ="test"/>'); }

                    for (j = 0; j < daysOfWeek.length; j++) {
                        if (i == 0) {
                            row.append($('<th>').html(daysOfWeek[j]));
                        }
                        else if (j == 0) {
                            row.append($('<td>').html(hours[i - 1]));
                        }
                        else {
                            row.append($('<td id="SubjectField">').html(defaultData[i - 1][j - 1]));
                        }
                    }
                    rows.push(row);

                }

                // add all the rows
                for (i = 0; i < rows.length; i++) {
                    table.append(rows[i]);
                };

                return table;
            }

            var table = arrayToTable(defaultData, {
                thead: true,
                attrs: { class: 'hoverTable', border: 1 }
            })

            $('div[id="table"]').append(table);
            //-----


            //Zmiana wyświetlanego tygodnia
            $('button[id="nextWeek"]').click(function () {
                $(".hoverTable").remove();
                var table = arrayToTable(defaultData, {
                    thead: true,
                    attrs: { class: 'hoverTable', border: 1 }
                })
                $('div[id="table"]').append(table);
            })
            $('button[id="lastWeek"]').click(function () {
                $(".hoverTable").remove();
                var table = arrayToTable(defaultData, {
                    thead: true,
                    attrs: { class: 'hoverTable', border: 1 }
                })
                $('div[id="table"]').append(table);
            })
            //-------


            $(document).on('click', 'td[id="SubjectField"]', function () {
                $(this).text(subject);
                $(this).attr('title', titleAtr);
            });
            $(document).on("click", "#calendar-body td", function () {
                $(".bg-primary").removeClass("bg-primary")
                $(this).addClass("bg-primary");
                $(".hoverTable").remove();
                var table = arrayToTable(defaultData, {
                    thead: true,
                    attrs: { class: 'hoverTable', border: 1 }
                })
                $('div[id="table"]').append(table);
            });
        });
    </script>
</head>
<body>
    <div id="header_nav">
        <ul>
            <li><a class="active" href="#">Plan Zajęć</a></li>
            <li>@Html.ActionLink("AdminPanel", "AdminPanel", "AdminPanel")</li>
            <li>@Html.ActionLink("Accmanagment", "Accmanagment", "Accmanagment")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Contact")</li>
            <li class="logout"><a href="./LogOut">Wyloguj</a></li>
        </ul>
    </div>
    <div>
        <div id="menu">
            <select class="form-control form-control-lg" id="option">
                @foreach (var sub in ViewData["subjects"] as List<string>)
                {
                    <option id="SubElement1" title="datafromquery">@sub</option>
                }
            </select>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div id="table">

        </div>
    </div>
    <br />
    <br />
    <button id="save">save</button>
</body>
</html>
