
@{
    ViewBag.Title = "ManualTimetable";
}
<html>
<head>
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
    <script src="~/Scripts/JavaScript.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> <!--Jquery-->
    <script>
        $(document).ready(function () {
            subject = document.getElementById("SubElement1").value;
            $("select").change(function () {
                $("select option:selected").each(function () {
                    subject = $(this).text();
                });
            })

            $('td[id="SubjectField"]').click(function () {
                $(this).text(subject);
            });
        });
    </script>
</head>
<body>
    <div>
        <div>
            <!--bootstrap w połowie dziala-->
            <select class="form-control form-control-lg">
                <option id="SubElement1" value="jezyk polski">jezyk polski</option>
                <option id="SubElement2" value="matma">matma</option>
                <option id="SubElement3" value="wf">wf</option>
            </select>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div>
            <table border="2" class="hoverTable">
                <tr>
                    <td>Poniedzialek</td>
                    <td>Wtorek</td>
                    <td>sroda</td>
                    <td>czwartek</td>
                    <td>piatek</td>
                </tr>
                <tr>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                </tr>
                <tr>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                </tr>
                <tr>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                </tr>
                <tr>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                </tr>
                <tr>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                </tr>
                <tr>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                </tr>
                <tr>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>

