
@{
    ViewBag.Title = "ManualTimetable";
}
<html>
<head>
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
    <script src="~/Scripts/JavaScript.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> <!--Jquery-->
    <script>
        $(document).ready(function () {
            var subject = document.getElementById("SubElement1").value;
            var titleAtr = document.getElementById("SubElement1").title;
            $("select").change(function () {
                $("select option:selected").each(function () {
                    subject = $(this).text();
                    titleAtr = $("select option:selected").attr( "title" );
                });
            })

            $('td[id="SubjectField"]').click(function () {
                $(this).text(subject);
                $(this).attr('title', titleAtr);
            });
        });
    </script>
</head>
<body>
    <div>
        <div>
            <!--bootstrap w połowie dziala-->
            <select class="form-control form-control-lg">
                <option id="SubElement1" value="jezyk polski" title="Adrian Gruchowiecki &#10; Sala: 204">jezyk polski</option>
                <option id="SubElement2" value="matma" title="Michalus Wojdalus &#10; Sala: 205">matma</option>
                <option id="SubElement3" value="wf" title="James Mountain &#10; Sala: 104">wf</option>
            </select>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div>
            <table border="2" class="hoverTable">
                <tr>
                    <td></td>
                    <td>Poniedzialek</td>
                    <td>Wtorek</td>
                    <td>sroda</td>
                    <td>czwartek</td>
                    <td>piatek</td>
                </tr>
                <tr>
                    <td>Godz Rozp. 8:15<br />Godz Zak. 9:45</td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                </tr>
                <tr>
                    <td> Godz Rozp. 8:15<br />Godz Zak. 9:45</td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                </tr>
                <tr>
                    <td>Godz Rozp. 10:00<br />Godz Zak. 11:30</td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                </tr>
                <tr>
                    <td>Godz Rozp. 11:45<br />Godz Zak. 12:15</td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                </tr>
                <tr>
                    <td>Godz Rozp. 12:30<br />Godz Zak. 14:00</td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                </tr>
                <tr>
                    <td>Godz Rozp. 14:15<br />Godz Zak. 15:30</td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                </tr>
                <tr>
                    <td>Godz Rozp. 15:45<br />Godz Zak. 17:15</td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                    <td id="SubjectField"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>

