@model SoftEngineering.Models.Logging

@{
    ViewBag.Title = "View";
    
}
<head>
    <id ="Head1" runat="server">
        <title>test</title>
</head>
<body>
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.Username)
        <button type="submit">login</button>
    }
</body>

<h2>View</h2>

