body {
    background-color: #ffffff;
}

.hoverTable {
    width: 60%;
    margin-left: 35%;
    margin-right: 5%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-collapse: collapse;
    height: 335px;
    table-layout: fixed;
}

.hoverTable td {
    padding: 7px;
    height: 10%;
    border-top: none;
    border-bottom: #40377c 1px solid;
    border-left: #40377c 1px solid;
    border-right: #40377c 1px solid;
    background: #d8d5ef;
}

.hoverTable th {
    padding: 20px;
    background: linear-gradient(30deg,#17134d,#40377c);
    border: none;
    color: #ffffff;
    text-align: center;
}
.edit-form {
    background: linear-gradient(30deg,#17134d,#40377c);
}

.hoverTable td:hover {
    background-color: #9f99c8;
}

.elasticHours {
    visibility: hidden;
}
